* {
    padding: 0;
    margin: 0;
}

body {
    /* padding: 0% 20%; */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title_bar {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 28px;
    /* padding: 10px 0px 10px 0px; */
}

#title_text {
    padding: 10px 20px;
    margin: 0px;
    width: 100%;
}

.grey {
    background: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
}

.red {
    color: red;
    background: yellow;
}

.yellow {
    color: yellow;
    background: red;
}

.winner_winner {
    animation: winner_winner_animation 5s;
}

#navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(234, 233, 233);
    margin: 0px 0px 10px 0px;
}

.navbar_buttons {
    margin: 0px 10px 0px 10px;
    font-size: 24px;
    cursor: pointer;
}

.button_active {
    /* color: red; */
    font-weight: bold;
}

.answer_green {
    /* color: rgb(4, 172, 4); */
}

.answer_red {
    /* color: red; */
}

.winner_winner_animation {
    animation: winner-winner-strobe 500ms 6;
}

.green_check_animation {
    animation: green-check-fade 2s;
}

.red_cross_animation {
    animation: red-cross-fade 2s;
}

.verb_title {
    padding: 0px 10px 0px 0px;
}

#question_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#verb_text_question {
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 48px;
}

#icon_container {
    display: flex;
    justify-content: center;
}

.verb_question_icon {
    font-size: 48px;
    margin: 0px 5px 0px 5px;
    color: whitesmoke;
}

#table {
    display: flex;
    justify-content: center;
}

#verb_container_answer {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

#verb_text_answer {
    padding: 2px 2px 2px 10px;
    font-weight: bold;
    font-size: 20px;
    border: grey 2px solid;
    border-radius: 10px 10px 10px 10px;
}

/* #verb_button_answer {
    border: grey 2px solid;
    border-radius: 0px 5px 5px 0px;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    background: rgb(0, 128, 255);
    color: white;
    font-weight: bold;
} */

#verb_text_answer:focus {
    border: 1px black solid;
    border-radius: 10px 10px 10px 10px;
    /* padding: 5px; */
    outline: 2px solid rgb(0, 128, 255);
}

#verb_button_answer:hover {
    background: rgb(0, 98, 196);;
    /* color: yellow; */
}

#counter_container {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
}

#correct_counter {
    margin: 0px 0px 10px 10px;
}

#answer_summary_table_container {
    display: flex;
    justify-content: center;
}

#answer_summary_table {
    display: table;
    justify-content: center;
    min-width: 300px;
}

table, th, td {
    border: rgb(162, 162, 162) 1px solid;
    padding: 5px;
    border-collapse: collapse;
}

@keyframes green-check-fade {
    0% {
        color: green;
    }

    100% {
        color: whitesmoke;
    }
}

@keyframes red-cross-fade {
    0% {
        color: red;
    }

    100% {
        color: whitesmoke;
    }
}

@keyframes winner-winner-strobe {
    0% {
        background: red;
        color: yellow;
    }

    100% {
        background: yellow;
        color: red;
    }
}