* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 100px 0px;
}

/* ///////////////////// NAVBAR ///////////////////// */

#navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

.grey {
    background: grey;
    color: white;
}

#title_text {
    font-size: 20px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

#hamburger_button {
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    font-size: 28px;
}
/* -webkit-tap-highlight-color: transparent; */

.speaker_button {
    padding: 5px 10px;
    font-size: 28px;
    color: white;
    cursor: pointer;
}
/* -webkit-tap-highlight-color: transparent; */

#speaker_on {
    display: none;
}

#section_title {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(234, 233, 233);
    margin: 0px 0px 10px 0px;
}

#section_title {
    position: fixed;
    top: 52px;
    width: 100%;
}

/* ///////////////////// HAMBURGER MENU ///////////////////// */

#hamburger_menu {
    display: none;
    position: fixed;
    top: 52px;
    left: 0px;
    background: whitesmoke;
    box-shadow: 3px 3px 3px rgb(179, 179, 179);
    z-index: 5;
    padding: 20px;
}

#section_buttons_container {
    display: flex;
    font-size: 36px;
}

.flags {
    font-size: 36px;
    margin: 0px 10px 0px 0px;
}

.section_buttons {
    padding: 0px 5px 0px 0px;
    color: grey;
    cursor: pointer;
}

.section_seperators {
    padding: 0px 5px 0px 0px;
    font-size: 36px;
    color: grey;
}

.hamburger_buttons {
    margin: 0px 10px 0px 10px;
    font-size: 24px;
    color: grey;
    cursor: pointer;
}

.section_active {
    color: black;
    font-weight: bold;
}

.button_active {
    color: black;
    font-weight: bold;
}

/* ///////////////////// BODY CONTAINER ///////////////////// */

#body_container {
    height: 100%;
}

.verb_title {
    padding: 0px 10px 0px 0px;
}

#question_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.test_containers {
    display: flex;
    justify-content: center;
}

#text_question {
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 48px;
}

#text_example {
    font-style: italic;
}

.verb_question_icon {
    font-size: 48px;
    margin: 0px 5px 0px 5px;
    color: whitesmoke;
}

#answer_summary_table {
    margin: 0px 0px 10px 0px;
}

#verb_container_answer {
    margin: 10px 0px 10px 0px;
}

#verb_text_answer {
    padding: 2px 2px 2px 10px;
    font-weight: bold;
    font-size: 20px;
    border: grey 2px solid;
    border-radius: 10px 10px 10px 10px;
}

#verb_text_answer:focus {
    border: 1px black solid;
    border-radius: 10px 10px 10px 10px;
    outline: 2px solid rgb(0, 128, 255);
}

#verb_button_answer:hover {
    background: rgb(0, 98, 196);;
}

#counter_container {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
}

#correct_counter {
    margin: 0px 0px 10px 10px;
}

#answer_summary_table_container {
    visibility: hidden;
    display: flex;
    justify-content: center;
}

#answer_summary_table {
    display: table;
    justify-content: center;
    min-width: 300px;
}

table, th, td {
    border: rgb(162, 162, 162) 1px solid;
    padding: 5px;
    border-collapse: collapse;
}

.summary_spanish {
    cursor: pointer;
}

.irregular_verb_highlight {
    color: blue;
}

.english_study_cell {
    background: black;
}

/* ///////////////////// VERB CONJUGATION POP UP ///////////////////// */

#modal_mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 10;
}

#verb_conjugation_table_container {
    display: none;
    position: fixed;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    border: grey solid 2px;
    border-radius: 10px;
    padding: 10px;
    background: whitesmoke;
    z-index: 11;
}

#verb_conjugation_table_header {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;
}

#verb_conjugation_table {
    background: white;
}

.verb_conjugation_table_title {
    /* blank */
}

#close_verb_conjugation_table {
    color: grey;
    margin: 0 0px 0 auto;
    font-size: 28px;
}

#close_verb_conjugation_table:hover {
    cursor: pointer;
    color: red;
}

/* ///////////////////// ANIMATIONS ///////////////////// */

.winner_winner_animation {
    animation: winner-winner-strobe 500ms 6;
}

.try_harder_animation {
    animation: try-harder-strobe 3s 1;
}

.green_check_animation {
    animation: green-check-fade 2s;
}

.red_cross_animation {
    animation: red-cross-fade 2s;
}

@keyframes green-check-fade {
    0% {
        color: green;
    }

    100% {
        color: whitesmoke;
    }
}

@keyframes red-cross-fade {
    0% {
        color: red;
    }

    100% {
        color: whitesmoke;
    }
}

@keyframes winner-winner-strobe {
    0% {
        background: red;
        color: yellow;
    }

    100% {
        background: yellow;
        color: red;
    }
}

@keyframes try-harder-strobe {
    0% {
        background: black;
        color: black;
    }

    100% {
        background: grey;
        color: white;
    }
}